<div class="header">
  <h2>TODO LIST</h2>
</div>
<div class="add-task">
  <h3>Add Task</h3>
  <form action="/" method="post">
    <div class="input">
      <input type="text" placeholder="Enter New Task..." name="title" />
      <input
        type="text"
        placeholder="Enter description..."
        name="description"
      />
    </div>
    <button>Add</button>
  </form>
</div>
<ul class="tasks">
  <% tasks.forEach((task) =>{ %>
  <li>
    <div class="top">
      <button class="finished-btn"></button>
      <div class="text">
        <h4 class="title"><%= task.title %></h4>
        <p><%= task.description %></p>
      </div>
    </div>
    <div class="btn">
      <form action="/<%= task._id %>?_method=DELETE" method="POST">
        <a class="delete">delete</a>
      </form>
      <a class="edite" href="/edit/<%= task._id %>">edit</a>
    </div>
  </li>
  <%})%>
</ul>
