@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    -90deg,
    rgb(110, 99, 255) 0%,
    rgb(190, 126, 255) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
}

.container {
  max-width: 400px;
  background-color: rgb(236, 235, 235);
  padding: 15px;
  border-radius: 15px;
  margin: 100px;
}

.header {
  background-color: rgb(110, 99, 255);
  color: white;
  padding: 8px;
  border-radius: 10px;
}

.add-task h3 {
  color: rgb(110, 99, 255);
  margin: 20px 3px 5px;
}

.add-task form {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  overflow: hidden;
  /* height: 35px; */
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}
.add-task form .input input {
  padding: 6px;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 3px;
  outline: none;
  background-color: rgb(241, 240, 240);
  border-radius: 5px;
}
.add-task form input:focus {
  outline: none;
  border: 0;
}

.add-task form button {
  background-color: rgb(110, 99, 255);
  border: 0;
  height: 35px;
  border-radius: 5px;
  width: 70px;
  cursor: pointer;
  color: white;
}
.add-task form button:hover {
  background-color: rgb(101, 90, 253);
}

.tasks {
  width: 100%;
  margin-top: 10px;
}

.tasks li {
  padding: 12px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 8px;
}
.finished-btn {
  width: 18px;
  height: 18px;
  border: 1px;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: red; */
}
.complate {
  background-color: rgb(145, 30, 253);
}

.text h4 {
  font-size: 14px;
  color: rgb(29, 29, 29);
}
.text p {
  font-size: 13px;
  color: rgb(190, 126, 255);
  padding: 5px 0px 0px 3px;
}

.tasks li .btn {
  display: flex;
  gap: 5px;
}
.tasks li .button {
  border-radius: 5px;
  border: none;
  padding: 3px 8px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
  text-decoration: none;
}
.tasks li .delete {
  background-color: rgb(251, 37, 37);
}
.tasks li .delete:hover {
  background-color: rgb(210, 11, 11);
}
.tasks li .edite {
  background-color: rgb(11, 157, 11);
}
.tasks li .edite:hover {
  background-color: rgb(7, 129, 7);
}
